body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.welcome-text {
  text-align: center;
  margin: 20px 0;
}

.section {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

.section h2 {
  text-align: center;
  color: #313236;
}

.section p {
  margin: 10px 0;
}


.section ul {
  padding-left: 20px;
}

.section ul li {
  margin: 5px 0;
}

code {
  background-color: #f4f4f9;
  border-radius: 3px;
  padding: 2px 4px;
  font-family: monospace;
}